.App {
  text-align: center;
  margin: 0;
  background-color: #eee ;
}
#contact {
  background-color: #777;
  margin: 20px 50px;
}
.contact-blog {
  text-align: center;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
}
.Card form input {
  width: 70%;
  padding: 10px;
  outline: none;
  border: none;
}