.App {
  text-align: center;

}
.contact-blog {
  width: 40%;
  height: inherit;

  display: flex;
  margin: 50px auto;
}
.contact-blog h2 {
  margin: 5px;
}
#Card {
  background-color: #ccc;
  width: inherit;
  height: inherit;
  margin: auto;
  padding: 15px;
}
label {
  display: flex;
}
input {
  width: 50%;
  padding: 8px;
  border: none;
  border-bottom: #000 2px solid;
  border-left: #000 2px solid;
  outline: none;
}
button {
  padding: 7px;
  margin: 10px;
}